# Contents
1. Importing libraries
2. Importing the relevant datasets
3. Find an aggregated mean 
4. Creating a loyalty flag for existing customers using the transform() and loc() functions
5. Exporting the dataframe

# Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import the merged pickle dataset
ords_prods_merge = pd.read_pickle(r'C:\Users\TemporaryAdmin\Desktop\yoana_learning\Data Analytics\Immension\tasks\my_tasks\part_4\02_data\prepared_data\orders_products_merged_newvariables.pkl')

In [4]:
# Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

How do the results for the entire dataframe differ from those of the subset? 
The mean of the entire dataframe is not too far from the mean of the first 1m rows.

# Create a loyalty flag for existing customers using the transform() and loc() functions.

In [5]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
ords_prods_merge['loyalty_flag'].value_counts(dropna= False)

Regular customer    16381472
Loyal customer      10679578
New customer         5580218
Name: loyalty_flag, dtype: int64

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer)

In [11]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.377144  1.0  99999.0
New customer      13.208437  1.0  99999.0
Regular customer  12.616225  1.0  99999.0

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

In [36]:
ords_prods_merge['average_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [37]:
ords_prods_merge.head(100)

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,...,prices,exists,price_range_loc,busiest_day,busiest_day_updated,busiest_period_of_day,max_order,loyalty_flag,average_spent,spent_flag
0,0,0,2539329,1,prior,1,2,8,NaN,True,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,High Spender
1,0,0,2539329,1,prior,1,2,8,NaN,True,...,12.5,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,High Spender
2,0,0,2539329,1,prior,1,2,8,NaN,True,...,4.4,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,High Spender
3,0,0,2539329,1,prior,1,2,8,NaN,True,...,4.7,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,High Spender
4,0,0,2539329,1,prior,1,2,8,NaN,True,...,1.0,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,High Spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,738281,2,prior,4,2,10,8.0,False,...,2.0,both,Low-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,High Spender
96,14,14,738281,2,prior,4,2,10,8.0,False,...,5.9,both,Mid-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,High Spender
97,15,15,1673511,2,prior,5,3,11,8.0,False,...,14.0,both,Mid-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,High Spender
98,15,15,1673511,2,prior,5,3,11,8.0,False,...,2.9,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,High Spender
99,15,15,1673511,2,prior,5,3,11,8.0,False,...,1.6,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,High Spender

In [38]:
ords_prods_merge.loc[ords_prods_merge['average_spent'] < 10, 'spent_flag'] = 'Low spender'

In [39]:
ords_prods_merge.loc[ords_prods_merge['average_spent'] >= 10, 'spent_flag'] = 'High Spender'

In [51]:
ords_prods_merge['spent_flag'].value_counts(dropna= False)

Low spender     32001268
High Spender      640000
Name: spent_flag, dtype: int64

In [40]:
ords_prods_merge.head(100)

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,...,prices,exists,price_range_loc,busiest_day,busiest_day_updated,busiest_period_of_day,max_order,loyalty_flag,average_spent,spent_flag
0,0,0,2539329,1,prior,1,2,8,NaN,True,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender
1,0,0,2539329,1,prior,1,2,8,NaN,True,...,12.5,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender
2,0,0,2539329,1,prior,1,2,8,NaN,True,...,4.4,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender
3,0,0,2539329,1,prior,1,2,8,NaN,True,...,4.7,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender
4,0,0,2539329,1,prior,1,2,8,NaN,True,...,1.0,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,738281,2,prior,4,2,10,8.0,False,...,2.0,both,Low-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender
96,14,14,738281,2,prior,4,2,10,8.0,False,...,5.9,both,Mid-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender
97,15,15,1673511,2,prior,5,3,11,8.0,False,...,14.0,both,Mid-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender
98,15,15,1673511,2,prior,5,3,11,8.0,False,...,2.9,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender
99,15,15,1673511,2,prior,5,3,11,8.0,False,...,1.6,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender

Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [41]:
ords_prods_merge['regularity'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [42]:
ords_prods_merge.head(100)

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,...,exists,price_range_loc,busiest_day,busiest_day_updated,busiest_period_of_day,max_order,loyalty_flag,average_spent,spent_flag,regularity
0,0,0,2539329,1,prior,1,2,8,NaN,True,...,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0
1,0,0,2539329,1,prior,1,2,8,NaN,True,...,both,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0
2,0,0,2539329,1,prior,1,2,8,NaN,True,...,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0
3,0,0,2539329,1,prior,1,2,8,NaN,True,...,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0
4,0,0,2539329,1,prior,1,2,8,NaN,True,...,both,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,738281,2,prior,4,2,10,8.0,False,...,both,Low-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender,13.0
96,14,14,738281,2,prior,4,2,10,8.0,False,...,both,Mid-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender,13.0
97,15,15,1673511,2,prior,5,3,11,8.0,False,...,both,Mid-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0
98,15,15,1673511,2,prior,5,3,11,8.0,False,...,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0
99,15,15,1673511,2,prior,5,3,11,8.0,False,...,both,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0

In [44]:
ords_prods_merge.loc[ords_prods_merge['regularity'] > 20, 'regularity_shopping'] = 'Non-frequent customer'

In [45]:
ords_prods_merge.loc[ords_prods_merge['regularity'] > 10 & (ords_prods_merge['regularity'] <= 20), 'regularity_shopping'] = 'Regular customer'

In [46]:
ords_prods_merge.loc[ords_prods_merge['regularity'] <= 10 & (ords_prods_merge['regularity'] <= 20), 'regularity_shopping'] = 'Regular customer'

In [53]:
ords_prods_merge['regularity_shopping'].value_counts(dropna= False)

Regular customer    32641268
Name: regularity_shopping, dtype: int64

In [47]:
ords_prods_merge.head(100)

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,...,price_range_loc,busiest_day,busiest_day_updated,busiest_period_of_day,max_order,loyalty_flag,average_spent,spent_flag,regularity,regularity_shopping
0,0,0,2539329,1,prior,1,2,8,NaN,True,...,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
1,0,0,2539329,1,prior,1,2,8,NaN,True,...,Mid-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
2,0,0,2539329,1,prior,1,2,8,NaN,True,...,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
3,0,0,2539329,1,prior,1,2,8,NaN,True,...,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
4,0,0,2539329,1,prior,1,2,8,NaN,True,...,Low-range product,Regularly busy,Regularly busy,fewest_orders,11,Regular customer,6.367797,Low spender,20.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,738281,2,prior,4,2,10,8.0,False,...,Low-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
96,14,14,738281,2,prior,4,2,10,8.0,False,...,Mid-range product,Regularly busy,Regularly busy,most_orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
97,15,15,1673511,2,prior,5,3,11,8.0,False,...,Mid-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
98,15,15,1673511,2,prior,5,3,11,8.0,False,...,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer
99,15,15,1673511,2,prior,5,3,11,8.0,False,...,Low-range product,Regularly busy,Least busy,most_orders,15,Regular customer,7.515897,Low spender,13.0,Regular customer

In [49]:
# Export the dataframe as a pickle file to the prepared data folder
path= r'C:\Users\TemporaryAdmin\Desktop\yoana_learning\Data Analytics\Immension\tasks\my_tasks\part_4'
ords_prods_merge.to_pickle(os.path.join(path, '02_data','prepared_data','orders_products_merged_grouping_aggregated.pkl'))