# Contents
1. Import the data set into Jupyter as a new dataframe: df_ords_prior.
2. Check the dimensions of the imported dataframe.
3. Merge the dataframe with your df_ords dataframe.
4. Use the indicator argument to check whether there was a full match between the two dataframes.
5. Exporting the merged dataframe.

# Importing Libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Datasets

In [29]:
# Import the new dataset
df_ords_prior = pd.read_csv(r'C:\Users\TemporaryAdmin\Desktop\yoana_learning\Data Analytics\Immension\tasks\my_tasks\part_4\02_data\original_data\order_products_prior.csv', index_col = False)

In [31]:
# Check the upload
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [35]:
df_ords_prior.shape

(32434489, 4)

In [33]:
# Import the clean orders dataset
df_ords= pd.read_csv(r'C:\Users\TemporaryAdmin\Desktop\yoana_learning\Data Analytics\Immension\tasks\my_tasks\part_4\02_data\prepared_data\order_clean.csv', index_col = False)

In [36]:
# Check the upload
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,prior,1,2,8,NaN,True
1,1,1,2398795,1,prior,2,3,7,15.0,False
2,2,2,473747,1,prior,3,3,12,21.0,False
3,3,3,2254736,1,prior,4,4,7,29.0,False
4,4,4,431534,1,prior,5,4,15,28.0,False

In [37]:
df_ords.shape

(3421083, 10)

In [43]:
# Merge the two datasets
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [44]:
# Check if they merged correctly
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [45]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [47]:
df_merged_large.shape

(32640698, 14)

In [46]:
# Save the merged file in pkl formalt
path= r'C:\Users\TemporaryAdmin\Desktop\yoana_learning\Data Analytics\Immension\tasks\my_tasks\part_4'
df_merged_large.to_pickle(os.path.join(path, '02_data','prepared_data','orders_products_combined.pkl'))